 <div class="content p-24" style="display: flex; flex-direction: row; padding: 5px 5px 5px; margin:2px 10px 10px 5px; width: 100%;" fusePerfectScrollbar>
 
 
 	<div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 100%; min-width: 400px;" fusePerfectScrollbar>
	      
	   	<h3 style="margin-bottom: 0px; font-size: 20px; font-width: bold;">Members serarch...</h3>

	 		<!-- App Search -->
			<div class="content p-14" style="box-shadow: 5px 5px 10px grey;">
			  	<form> 
			      <mat-form-field class="example-full-width">
				        <input type="text" placeholder="Technology" aria-label="technology" matInput [formControl]="searchControl"  [matAutocomplete]="auto1">
				        <mat-autocomplete  #auto1="matAutocomplete">
				            <mat-option *ngFor="let technology of technologies" [value]="technology">
				                {{ technology }}
				            </mat-option>
				        </mat-autocomplete>
				    </mat-form-field>
				    <mat-form-field class="example-full-width">
				        <input type="text" placeholder="Experiences" aria-label="experiences" matInput [formControl]="searchControl" [matAutocomplete]="auto2">
				        <mat-autocomplete #auto2="matAutocomplete">
				            <mat-option *ngFor="let experience of experiences" [value]="experience">
				                {{ experience }}
				            </mat-option>
				        </mat-autocomplete>
				    </mat-form-field>
				    <mat-form-field class="example-full-width">
				        <input type="text" placeholder="Target Region" aria-label="regions" matInput [formControl]="searchControl" [matAutocomplete]="auto3">
				        <mat-autocomplete #auto3="matAutocomplete">
				            <mat-option *ngFor="let region of regions" [value]="region">
				                {{ region }}
				            </mat-option>
				        </mat-autocomplete>
				    </mat-form-field>
				    <mat-form-field class="example-full-width">
				        <input type="text" placeholder="ATA chapter" aria-label="ata" matInput [formControl]="searchControl" [matAutocomplete]="auto4">
				        <mat-autocomplete #auto4="matAutocomplete">
				            <mat-option *ngFor="let ata of ataChapter" [value]="ata">
				                {{ ata }}
				            </mat-option>
				        </mat-autocomplete>
				     </mat-form-field> 
				     <mat-form-field class="example-full-width">
				        <input type="text" placeholder="Certificates" aria-label="certificates" matInput [formControl]="searchControl" [matAutocomplete]="auto5">
				        <mat-autocomplete #auto5="matAutocomplete">
				            <mat-option *ngFor="let certificate of certificates" [value]="certificate">
				                {{ certificate }}
				            </mat-option>
				        </mat-autocomplete>
				     </mat-form-field>
				  
				   </form> 
			  	
			  	<div style="display:flex;flex-direction: row; padding: 5px;">
	   		  		<mat-form-field style="width: 70%; padding-right: 10px;">
		        			<input type="text" matInput placeholder="Key words..." [(ngModel)]='searchText'>
		        		<mat-icon matSuffix>mode_edit</mat-icon>
				    </mat-form-field> 
				   
				   <button style="height: 35px;margin-top:10px;" mat-raised-button color="accent" class="search-button" aria-label="Search" autofocus (click)='updateFilter($event)'> SEARCH</button>
				   <a style="padding-left:10px;margin-top:20px;" >Advanced filters...</a>
			   </div>	
			     
			   <div>
			   
			   </div>
			</div>
	 
			 <!-- Apps Data Table -->
		    <div style="padding: 5px ;">
		
		        <ngx-datatable
		            class="material"
		            [rows]="members"
		            [loadingIndicator]="loadingIndicator"
		            [columnMode]="'force'"
		            [headerHeight]="52"
		            [footerHeight]="48"
		            [rowHeight]="'auto'"
		            [scrollbarH]="'auto'"
		            [reorderable]="reorderable"
		            [limit]="4"
		            [selected]="selectedMember"
                    [selectionType]="'single'"
                    (activate)="onMembersActivate($event)"
                    (select)='onMemberSelect($event)'>
		
		            <ngx-datatable-column name="Company Name" prop="companyName">
		            </ngx-datatable-column>
		         
		            <ngx-datatable-column name="Type" prop="type">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Activities" prop="activities">
		            </ngx-datatable-column>
		            
		            <ngx-datatable-column name="Regions" prop="region"  [canAutoResize]="true" [sortable]="true">
		            </ngx-datatable-column>
		            
		            <ngx-datatable-column name="Certificates" prop="certificates"  [width]="170" [canAutoResize]="true" [sortable]="true">
		            </ngx-datatable-column>
		            
		        </ngx-datatable>
		
		    </div>

	</div>
</div>