 <!-- Send Email Widget -->

<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column"
             fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:350px; max-width:100%" _ngcontent-c49="">

    <div>

      <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;margin-bottom:0px;"
           fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">
        <div _ngcontent-c49="">
          <h2>New Email</h2>
        </div>
      </div>

      <div class="pt-8 pb-32" style="display: flex; max-height:100%; max-width: 100%; box-sizing: border-box; flex-direction: column; justify-content: center;  padding: 10px;"
           fxLayout="column" _ngcontent-c49="">

        <!--  Email Form -->

        <form name="emailForm" [formGroup]="emailForm">

          <p>
            <mat-form-field class="example-full-width">
              <input matInput type="email" placeholder="To" formControlName="toAddress" [(ngModel)]='toAddress'>
              <mat-error *ngIf="emailFormErrors.toAddress.required">
                To is required
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Subject" formControlName="subject" [(ngModel)]='subject'>
              <mat-error *ngIf="emailFormErrors.subject.required">
                Subject is required
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Write..." style="height:80px;" formControlName="content" [(ngModel)]='content'></textarea>
            </mat-form-field>
          </p>
          <h4 *ngIf="emailResult===false" style="color:red;">Error Sending <br>Please check your details.</h4>

          <div class="remember-forgot-subject" fxLayout="row" fxLayout.xs="column"
               fxLayoutAlign="space-between center">
          </div>
        </form>

        <button mat-raised-button color="accent" style="width:50px;" aria-label="Send" autofocus
                [disabled]="emailForm.invalid" (click)="onSend(toAddress,subject,content)">
          SEND
        </button>


        <!-- End Login Form -->

      </div>

      <!-- End Login -->
    </div>

  </div>

</fuse-widget>
