  <!-- Membership Text Widget -->
 <fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100"_ngcontent-c49="">

     <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:800px;" _ngcontent-c49="">

        <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;" fxLayout="row" fxLayoutAlign="start center" _ngcontent-c49="">

           <div class="page-layout blank p-24"> <h2>Start winning...</h2></div>

        </div>

		<div class="page-layout blank p-24">
            <p>            Why you should become a membership of the world largest Supplier portal ...    </p>  
        </div>                           
                                                       
        <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;" fxLayout="row" fxLayoutAlign="start center" _ngcontent-c49="">

           <div class="page-layout blank p-24"> <h2>Membership Benefits</h2></div>

        </div>

        <div class="pt-8 pb-32" style="display: flex; max-height:100%; max-width: 100%; box-sizing: border-box;" fxLayout="column" fxLayoutAlign="start start" _ngcontent-c49="">
            <ul>
              <li> Business Opportunities: Access the world largest tender portal </li>
              <li> Offer your capabilities to 10.000 of companies around the world </li>
              <li> Access markets at all continents  </li>
              <li> ... </li>
            
            </ul>
              
       </div>                          
     
     </div>                                                   

 </fuse-widget>


