<div>
    <div class="navbar-header">

        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/digicor-transparent.png">
            <span class="logo-text">DIGICOR</span>
        </div>
        <div>
            <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="toggleFold" fxHide.lt-lg>
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="closeBar" fxHide.gt-md>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>

    <div class="navbar-content" fusePerfectScrollbar>
        <fuse-navigation layout="vertical"></fuse-navigation>
    </div>
</div>