<div class="page-layout blank p-24" fusePerfectScrollbar>

    <mat-tab-group>
        <mat-tab label="Home">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
                <!-- Sales dashboard -->
                <app-sales-dashboard></app-sales-dashboard>
             
            </div>

        </mat-tab>

	        <mat-tab label="New Calls">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
				<!-- Sales new calls -->
                <app-sales-new-call></app-sales-new-call>
             
            </div>

        </mat-tab>

		<mat-tab label="My Offers/Tenders">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
				<!-- Sales my tenders -->
                <app-sales-my-tenders></app-sales-my-tenders>

            </div>

        </mat-tab>

        <mat-tab label="Running Campaigns">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
				<!-- Sales my tenders -->
                <app-sales-running></app-sales-running>

            </div>

        </mat-tab>

    </mat-tab-group>


</div>