  <!-- Register Widget -->

    <fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" _ngcontent-c49="">

     <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:350px;" _ngcontent-c49="">
        <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;" fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">
           <div _ngcontent-c49=""><h2>Apply for membership...</h2></div>
        </div>

        <div class="pt-8 pb-32" style="display: flex; max-height:; max-width: 100%; box-sizing: border-box; flex-direction: column; justify-content: center; align-items: center; align-content: center;" fxLayout="column" fxLayoutAlign="center center" _ngcontent-c49="">
                            
            <div class="page-layout blank p-24"> <p>Membership is linked to a company and will include the membership in the Hanse Aerospace Association.   </p></div>                 
                            
            <button class="RegisterBtn" mat-raised-button color="accent" routerLink="/apply-member">Request for a membership...</button>
            </div>
                          
		</div>

 </fuse-widget>

