
 <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:250px;width:300px;height:400px;min-height:300px;" _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

      <div class="page-layout blank p-24" style="text-align: center;">
        <h2 style="margin: 0px 10px 5px; color: #1874C0; font-weight: bold;">Impressum</h2>
      </div>

    </div>

    <!--  Impressum Data -->
    <div style="margin: 0px 10px 0px;">
        <h3>DIGICOR Contact</h3>
        <p style="font-weight:bold;"> Arnd Schirrmann</p>
        <p><i class="material-icons">email</i> arnd.schirmann(at)airbus.com<br>
           <i class="material-icons">phone</i> +49 (0) 40 74 81514</p>

      <div>
        <h3>Provider</h3>
        <p style="font-weight:bold;">Airbus Defence and Space GmbH </p>
 		<p>81663 Munich <br>Willy-Messerschmitt-Strasse<br>85521 Ottobrunn<br>Germany</p>
 		<p style="font-size:10px;">Commercial Register Munich No. HRB 10 76 48<br>VAT registration number: DE167015661</p>
      </div>
   </div>
</div>

<div style="text-align:center; padding-top: 5px;">
     <button color="accent" mat-raised-button (click)="closeDialog()">Close</button>
</div>
