
h3 {
    color: #1874C0;
    margin: 0px;
    font-weight:bold;
}

.p {
   font-size: 14px;
   padding-top:2px;
   padding-bottom:2px;
   margin: 0px 2px 0px;
}

.material-icons {
  font-size: 14px;
}

