.contact-div{
    display: flex;
    width: 100%
}
p {
    max-width: 10%;
    margin: 0px;
    position: relative;
    transform: translateY(25%);
    white-space: nowrap;
}
#in {
    border-top: 0px;
}
button {
    margin: 10px;
}
img {
    margin: 10px;
    
}

#pcoord {
    margin: 20px;
}
h3 {
    color: #1874C0;
    margin: 0px;
}
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    
}

.inp {
    display: flex;
    flex-direction: row;
}
.full-width {
    width: 100%;
}
.textarea{
    min-height: 250px;
    box-shadow: 5px 5px 10px grey;
}
.btn {
    float: right;
    margin-top: 0px;
    transform: translateY(-8px);
}
.down {
    transform: translateY(62%);
    margin: 3px;
}
.widgets {
    display: flex;
    justify-content: space-around;
}
.label:hover{
    cursor: pointer;
}