<mat-card style="font-size: 30px;">
  Many thnaks for your interest in joining the DIGICOR platform. Your membership needs to be approved. Please fill in this
  formular to provide some company details e.g. your cantacts or files</mat-card>
<div class="widgets">
  <fuse-widget style=" height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column"
    fxFlex="100" _ngcontent-c49="">

    <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="" _ngcontent-c49="">

      <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
        fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

        <div class="page-layout blank p-24">
          <h2 style="margin-bottom: 0px;">
            <strong>Company Details</strong>
          </h2>
        </div>

      </div>

      <!--  Contact Form -->
      <div class="message-container" class="pt-8">
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" value="">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" value="">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
        <form class="form">

          <mat-form-field class="full-width">
            <input type="tel" matInput placeholder="Phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea matInput placeholder="Message" class="textarea"></textarea>
          </mat-form-field>
          <input [hidden]="true" id="input-file-id" multiple type="file" />
          <label for="input-file-id" class="md-button md-raised md-primary label" style=" padding: 3px;border-style: dashed; border-radius: 4px; border-width: 3px;border-color: gray;">Choose Files</label>
          <button class="btn" mat-raised-button color="accent">Upload</button>
        </form>
      </div>
      <!-- End Contact Form -->



    </div>

  </fuse-widget>
  <!-- ContactForm Widget -->
  <fuse-widget style="height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column"
    fxFlex="100" _ngcontent-c49="">

    <div class="fuse-widget-front mat-white-bg mat-elevation-z2" _ngcontent-c49="">

      <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
        fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

        <div class="page-layout blank p-24" style="padding-bottom: 0px;">
          <h2> <strong>Contact</strong></h2>
        </div>

      </div>

      <!--  Contact Form -->
      <div class="message-container" class="pt-8">
        <form class="form inp">
          <i class="material-icons down">info_outline</i>
          <mat-form-field class="full-width">

            <input matInput placeholder="Name" value="">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
        <form class="form inp">
          <i class="material-icons down">email</i>
          <mat-form-field class="full-width">

            <input matInput placeholder="Email" value="">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
        <form class="form inp">
          <i class="material-icons down">phone</i>
          <mat-form-field class="full-width">

            <span matPrefix>+49 &nbsp;</span>
            <input type="tel" matInput placeholder="Phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
        <button class="btn" mat-raised-button color="accent">Request membership</button>
      </div>
      <!-- End Contact Form -->
    </div>
