<div class="page-layout blank p-24" fusePerfectScrollbar>

  <mat-tab-group>
    <mat-tab label="Inbox">
      <div class="page-layout blank p-24" fusePerfectScrollbar>
        <!-- Mail dashboard -->
        <app-read-mail></app-read-mail>

      </div>

    </mat-tab>

    <!--<mat-tab label="Sent">
      <div class="page-layout blank p-24" fusePerfectScrollbar>
        <!-- Mail new calls -->
        <!--<app-mail-new-call></app-mail-new-call>

      </div>

    </mat-tab>-->

    <mat-tab label="New Message">
      <div class="page-layout blank p-24" fusePerfectScrollbar>
        <!-- New Email -->
        <app-send-message></app-send-message>

      </div>

    </mat-tab>

  </mat-tab-group>


  </div>
