:host {

    .content{
        max-width: 1100px;
    }

}

.news-logo{
  	max-height: 30px;
	height: 20px;
	}
	
.news-headline{
    color: darkblue;
    font-size:14px;
    font-weight: bold;
    margin-bottom: 0px;
}
	
.news-body{
   font-size:12px;
   font-weight: normal;
   margin-top: 0px;
   margin-bottom: 0px;
}