<div class="content p-24" style="display: flex; flex-direction: row; padding: 5px 5px 5px; margin:2px 10px 10px 5px; width: 100%;" fusePerfectScrollbar>
 
 
 	<div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 100%; min-width: 500px;" fusePerfectScrollbar>
	      
	   	<h3 style="margin-bottom: 0px; font-size: 20px; font-width: bold;">Portal Users</h3>

	 		<!-- App Search -->
			<div class="content p-14" style="box-shadow: 5px 5px 10px grey;">
			  	
   		  		<mat-form-field style="width: 80%">
	        			<input type="text" matInput placeholder="Search Users..." [(ngModel)]='searchText'>
	        		<mat-icon matSuffix>mode_edit</mat-icon>
			    </mat-form-field>
			   
			   <button style="padding-left: 10px;" mat-raised-button color="accent" class="search-button" aria-label="Search" autofocus (click)='updateFilter($event)'> SEARCH</button>
			  	
			</div>
	 
			 <!-- User Table -->
		    <div style="padding: 5px ;">
		
		        <ngx-datatable
		            class="material"
		            [rows]="users"
		            [loadingIndicator]="loadingIndicator"
		            [columnMode]="'force'"
		            [headerHeight]="52"
		            [footerHeight]="48"
		            [rowHeight]="'auto'"
		            [scrollbarH]="'auto'"
		            [reorderable]="reorderable"
		            [limit]="5"
		            [selected]="selectedUser"
                    [selectionType]="'single'"
                    (activate)="onUsersActivate($event)"
                    (select)='onUsersSelect($event)'>
		
		            <ngx-datatable-column name="Name" prop="name">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Last name" prop="lastName">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Company" prop="company">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Username" prop="username">
		            </ngx-datatable-column>
		            
		            	            
		        </ngx-datatable>
		
		    </div>

			 <!-- User Details -->
		    <div class="content p-14" style="box-shadow: 5px 5px 10px grey; height:75px">
			   	<h2 style="margin-bottom: 0px; font-size: 18px; font-widht: bold; text-left;">Details</h2>
			      <div style="display:flex;flex-direction: row;">  
			      	   <img class="avatar" src="{{selectedUser[0].avatar}}">
			        <div style="display:flex;flex-direction: column; width: 70%;">
			           <p style="margin: 0px;"> <b> Name:</b> {{selectedUser[0].name}} {{selectedUser[0].lastName}} </p>
			           <p style="margin: 0px;"> <b>Email:</b> {{selectedUser[0].email}} </p>
			        </div>
				  </div>	
		    </div>

	</div>
 
</div>