<div class="page-layout blank p-24" fusePerfectScrollbar>

  <iframe [src]='srcUrl | safe' style="border-width:0" width="1200" height="500" frameborder="0" scrolling="no"></iframe>
                                                                                 <!--Change the Username in the src=to make it change for the user.
                                                                                     They must have their calendar settings set to public.-->


</div>
