  <!-- Welcome Text Widget -->
 <fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100"_ngcontent-c49="">

     <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:800px;" _ngcontent-c49="">

        <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;" fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

           <div class="page-layout blank p-24"> <h2>Welcome to the DIGICOR platform</h2></div>

        </div>

        <div class="pt-8 pb-32" style="display: flex; max-height:100%; max-width: 100%; box-sizing: border-box; flex-direction: column; justify-content: center; align-items: center; align-content: center;" fxLayout="column" fxLayoutAlign="center center" _ngcontent-c49="">
                           
            <div class="page-layout blank p-24"> <p> <img src="./../../../assets/images/logos/DIGICOR_Logo.png" alt="logo" style="float:right;width:200px;height:200px;">
            
            DIGICOR offers a technology platform, collaboration tools and services that allows manufacturing companies and service providers to create and operate collaborative networks across the value chain. The platform supports the integration of non-traditional, small but innovative companies into the complex supply chain of large OEMs.   </p></div>                          
                                                        
            </div>
                          
		</div>

 </fuse-widget>

