<div id="login" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo">
            <img src="/assets/images/logos/DIGICOR_Logo.png">
        </div>

        <div class="title">
            Welcome to the DIGICOR Portal prototype!
        </div>

        <div class="description">
            This website implements a DIGICOR portal mock-up. 
            <br><br>
            The DIGICOR project develops novel collaboration concepts and implements an integrated platform 
            that significantly reduce the burden to setup production networks and 
            collaboration between SMEs. In particular the project addresses the integration 
            of non-traditional, small but innovative companies or service providers into the 
            complex supply chain of large OEMs. By providing relevant technology support at 
            one place, the DIGICOR Collaboration Platform will shorten the time to jointly 
            respond to business opportunities and simplify the management and control of the 
            production and logistics networks.
            <br><br>           
            The access is limited to the project consortium and invited partners!
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar>

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>
            <div class="description">Please login to the DIGICOR portal mock-up:</div>

            <form name="loginForm" [formGroup]="loginForm" >

                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username" [(ngModel)]='username'>
                    <mat-error *ngIf="loginFormErrors.username.required" >
                        Username is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" [(ngModel)]='password'>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="loginFormErrors.password.required" >
                        Password is required
                    </mat-error>
                </mat-form-field>

                <h4 *ngIf="loginResult===false" style="color:red;">Wrong Username and/or Passsword! <br>Please try again...</h4>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                </div>
            </form>    
               
            <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" autofocus
                    [disabled]="loginForm.invalid" (click)="onLogin(username,password)">
                LOGIN
            </button>

        </div>
    </div>
</div>
