 <!-- Login Widget -->

<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column"
  fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:350px;" _ngcontent-c49="">
    
    <!-- Login erforderlich -->
    
    <div *ngIf="!getLoginStatus()">
    
	    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;margin-bottom:0px;"
	      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">
	      <div _ngcontent-c49="">
	        <h2>Already member...</h2>
	      </div>
	    </div>

	    <div class="pt-8 pb-32" style="display: flex; max-height:100%; max-width: 100%; box-sizing: border-box; flex-direction: column; justify-content: center; align-items: center; align-content: center; padding: 20px;"
	      fxLayout="column" fxLayoutAlign="center center" _ngcontent-c49="">
	
	      <!--  Login Form -->
	
	            <form name="loginForm" [formGroup]="loginForm" >
	
	                <mat-form-field>
	                    <input matInput placeholder="Username" formControlName="username" [(ngModel)]='username'>
	                    <mat-error *ngIf="loginFormErrors.username.required" >
	                        Username is required
	                    </mat-error>
	                </mat-form-field>
	
	                <mat-form-field>
	                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" [(ngModel)]='password'>
	                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
	                    <mat-error *ngIf="loginFormErrors.password.required" >
	                        Password is required
	                    </mat-error>
	                </mat-form-field>
	
	                <h4 *ngIf="loginResult===false" style="color:red;">Wrong Username and/or Passsword! <br>Please try again...</h4>
	
	                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
	                     fxLayoutAlign="space-between center">
	                </div>
	            </form>    
	               
	            <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" autofocus
	                    [disabled]="loginForm.invalid" (click)="onLogin(username,password)">
	                LOGIN
	            </button>
	
	
	      <!-- End Login Form -->
	    
	    </div>

    <!-- End Login -->
   </div>

    <!-- Start Logout -->

    <div *ngIf="getLoginStatus()" class="logout">
    
	      <div style="padding: 3px 0px 1px;">
	        
	        <h2 style="text-align: center; font-width: bold;"> Login status </h2>
	       
		       <div style="display: flex; max-height:100%; max-width: 100%; flex-direction: row;">

		          <div >
		            <img class="avatar" src="{{getAvatar()}}">
		          </div> 

		          <div style=" flex-direction: column;">
		            <h3 style="text-align: center;"> Hi <b> {{loggedUser}} </b> you are logged in... </h3>
  			        <button mat-raised-button color="accent" class="submit-button" aria-label="LOGOUT" autofocus (click)="logout()">
			                LOGOUT
			        </button>
			      </div>

		       </div> 
		  </div>

    </div>
    <!-- Ende Logout -->

</div>

</fuse-widget>
