<div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;min-height:400px;" _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex;  box-sizing: border-box; flex-direction: column; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" >

      <div class="page-layout blank p-24" style=" text-align: center;">
        <h2 style="color: #1874C0; font-weight: bold; padding-top:10px;">Message sent...</h2>

       	<p style="margin: 0px;">Many thanks for your message. We will answer as soon as possible...</p>

      </div>

    </div>

      <div class="page-layout blank p-24" style=" padding: 5px;">

		      <p style="text-align: center; margin: 2px;"><b> Your Sent Message </b></p>

	      <div style="text-align: left;">
		      
		      <p><b> Name: </b> {{name}} </p>
		      <p><b> Email: </b> {{email}} </p>
		      <p><b> Phone:</b> {{phone}} </p>
		      <p><b> Message:</b></p><textarea class="full-width" readonly>{{message}}</textarea>
		       

    	  </div>  
       	
		<div style="text-align:center; margin: 5px;">
		     <button color="accent" mat-raised-button (click)="closeDialog()">Close</button>
		</div>

    </div>


</div>
