 <div class="content p-24" style="display: flex; flex-direction: row; padding: 5px 5px 5px; margin:2px 10px 10px 5px; width: 100%;" fusePerfectScrollbar>
 
 
 	<div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 600px; min-width: 400px;" fusePerfectScrollbar>
	      
	   	<h3 style="margin-bottom: 0px; font-size: 20px; font-width: bold;">Catalogue</h3>

	 		<!-- App Search -->
			<div class="content p-14" style="box-shadow: 5px 5px 10px grey;">
			  	
   		  		<mat-form-field style="width: 80%">
	        			<input type="text" matInput placeholder="Search App-Store..." [(ngModel)]='searchText'>
	        		<mat-icon matSuffix>mode_edit</mat-icon>
			    </mat-form-field>
			   
			   <button style="padding-left: 10px;" mat-raised-button color="accent" class="search-button" aria-label="Search" autofocus (click)='updateFilter($event)'> SEARCH</button>
			  	
			</div>
	 
			 <!-- Apps Data Table -->
		    <div style="padding: 5px ;">
		
		        <ngx-datatable
		            class="material"
		            [rows]="apps"
		            [loadingIndicator]="loadingIndicator"
		            [columnMode]="'standard'"
		            [headerHeight]="52"
		            [footerHeight]="48"
		            [rowHeight]="'auto'"
		            [scrollbarH]="'auto'"
		            [reorderable]="reorderable"
		            [limit]="4"
		            [selected]="selectedApp"
                    [selectionType]="'single'"
                    (activate)="onAppsActivate($event)"
                    (select)='onAppsSelect($event)'>
		
		            <ngx-datatable-column name="App Name" prop="name" [width]="100" [canAutoResize]="true" [sortable]="true">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Provider" prop="provider"  [width]="100" [canAutoResize]="true" [sortable]="true">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Type" prop="type"  [width]="150" [canAutoResize]="true" [sortable]="true">
		            </ngx-datatable-column>
		
		            <ngx-datatable-column name="Subscription Models" prop="pay_model"  [width]="170" [canAutoResize]="true" [sortable]="true">
		            </ngx-datatable-column>
		        </ngx-datatable>
		
		    </div>

			 <!-- App Details -->
		    <div class="content p-14" style="box-shadow: 5px 5px 10px grey; height:75px">
			   	<h2 style="margin-bottom: 0px; font-size: 18px; font-widht: bold; text-left;">Details</h2>
			      <div style="display:flex;flex-direction: row;">  
			        <div style="display:flex;flex-direction: column; width: 80%;">
			           <p style="margin: 0px;"> <b> App Name:</b> {{selectedApp[0].name}}  <b>Type:</b> {{selectedApp[0].type}} </p>
			           <p style="margin: 0px;"> <b>Provider:</b> {{selectedApp[0].provider}} </p>
			        </div>
			          <button style="padding-left: 10px;" mat-raised-button color="accent" class="search-button" aria-label="Buy..." 
			            [disabled]="!canBuy" autofocus (click)='addApptoOwnedApps()'> BUY...</button>
				  </div>	
		    </div>

	</div>
 

 	<div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 600px; min-width: 400px;" fusePerfectScrollbar>
	      
	   	<h3 style="margin-bottom: 0px; font-size: 20px; font-width: bold;">Owned Apps / Subscriptions</h3>
	 
			 <!-- Owned Apps Data Table -->
		    <div style="padding: 5px ;">

			        <ngx-datatable
			            class="material"
			            [rows]="owned_apps"
			            [loadingIndicator]="loadingIndicator"
			            [columnMode]="'standard'"
			            [headerHeight]="52"
			            [footerHeight]="48"
			            [rowHeight]="'auto'"
			            [scrollbarH]="'auto'"
			            [reorderable]="reorderable"
			            [selectionType]="'checkbox'"
				        [limit]="6">
			
			            <ngx-datatable-column name="App Name" prop="name" [width]="100" [canAutoResize]="true" [sortable]="true">
			            </ngx-datatable-column>
			
			            <ngx-datatable-column name="Provider" prop="provider" [width]="100" [canAutoResize]="true" [sortable]="true">
			            </ngx-datatable-column>
			
			            <ngx-datatable-column name="Type" prop="type" [width]="150" [canAutoResize]="true" [sortable]="true">
			            </ngx-datatable-column>
			
			            <ngx-datatable-column name="Status" prop="status" [width]="170" [canAutoResize]="true" [sortable]="true">
			            </ngx-datatable-column>
			        </ngx-datatable>
			
			    </div>
	    
	    </div>
  
  </div>  
    
    