<div class="page-layout blank p-24" fusePerfectScrollbar>

  <mat-tab-group>
    <mat-tab label="Home">
      <div class="page-layout blank p-24">
       
       <div style="display:flex; flex-flow:row;  margin: auto; align-items: flex-start">
        
          <!-- KPI Component -->
          <app-platform-kpi></app-platform-kpi>
            
           <div style="display:flex; flex-flow:column wrap; width:100%;">

            <!-- Aero-News Component -->
            <app-aero-news></app-aero-news>

            <!-- Platform news Component -->
			<app-platform-news></app-platform-news>
			
          </div>
        </div>
        
      </div> 

    </mat-tab>

    <mat-tab label="News">
      <div class="page-layout blank p-24" fusePerfectScrollbar>

       <div style="display:flex; flex-flow:row;  margin: auto; align-items: flex-start">
        
          <!-- Story of the Day -->
          <app-news></app-news>
            
           <div style="display:flex; flex-flow:column wrap; width:100%;">

            <!-- Aero-News Component -->
            <app-aero-news></app-aero-news>

            <!-- Platform news Component -->
			<app-platform-news></app-platform-news>
			
          </div>
        </div>

      </div>

    </mat-tab>

    <mat-tab label="App Store">
      <div class="page-layout blank p-24" fusePerfectScrollbar>

          <!-- App Store -->
          <app-app-store></app-app-store>


      </div>

    </mat-tab>

    <mat-tab label="Members">
      <div class="page-layout blank p-24" fusePerfectScrollbar>

		 <!-- Story of the Day -->
         <app-members></app-members>

      </div>

    </mat-tab>

  </mat-tab-group>


</div>
