.sales-new-call-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 600px;
}

.sales-new-call-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 900px;
}
