
<div class="sales-new-call-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="sales-new-call-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    ID Column
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
    </ng-container>

    title Column
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
    </ng-container>

    customer Column
    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.customer}}</mat-cell>
    </ng-container>

    issueDate Column
    <ng-container matColumnDef="issueDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.issueDate}}</mat-cell>
    </ng-container>

    submissionDeadline Column
    <ng-container matColumnDef="submissionDeadline">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.submissionDeadline}}</mat-cell>
    </ng-container>

    owner Column
    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.owner}}</mat-cell>
    </ng-container>

    description Column
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

