<fuse-widget style="flex:1 1 100%; height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;"
  fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:500px;width:700px;height:625px;min-height:400px;" _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

      <div class="page-layout blank p-24">
        <h2 style="margin-bottom: 0px; font-size: 20px; font-widht: bold;">Stories of the Day</h2>
      </div>

    </div>

       <!-- Stories -->
       
	    <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px;" fusePerfectScrollbar>
	      
          <h3 style="margin-bottom: 0px; font-size: 18px; font-widht: bold;">Company tour at Aero-Coating in Wismar</h3>
	      
	      <div style="display: flex; flex-direction: row;flex-wrap: wrap;">
		      <p style="width: 65%; margin-top: 0px;"> 
		        Anyone who has always wanted to know how aerospace components can be manufactured with functional surfaces could get an idea of this at Aero-Coating's factory on October 25,2017. 
				<br><br>
		        The Wismar-based company is one of the hidden champions in vacuum cadmium plating, IVD aluminum coating and aluminum pigmentation. 
		      </p>
		      
		      <img  style="height:130px;" src="assets/images/news/aero_coting_visit.png" alt="visit"/>

		      <div style="margin-top: 0px;">			       
			      <p> 
			      	The participants from Mecklenburg-Western Pomerania and Hamburg were impressed. 
			      	At the subsequent network get-together in the Wismar wine industry, the discussions that had begun were continued and deepened.
			      </p>
		      </div> 
      
	      </div>

	    </div> 

	    <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px;" fusePerfectScrollbar>
	      
          <h3 style="margin-bottom: 0px; font-size: 18px; font-widht: bold;">Hanse-Aerospace Sailing Cup 2017</h3>

	      <div style="display: flex; flex-direction: row;flex-wrap: wrap; padding-top:10px;">
		      <img  style="height:130px;" src="assets/images/news/hanse_aerospace_sailing.jpg" alt="sailing"/>
		      
		      <p style="width: 65%; margin-bottom: 0px; margin-top:5px; padding-left: 10px; padding-top:0px;"> 
		      	160 enthusiastic hobby sailors on 22 boats took part in this year's Hanse-Aerospace Sailing Cup from 6 to 8 October 2017 in Rostock Warnem&uuml;nde. 
		      	On the first day of the regatta, Saturday, only one race was possible on a rough lake.
		        But this one had it in itself and so most of the participants were happy to be able to recover a little on land. 
		      </p>
		      
		      
		      <div style="margin-top: 0px;">			       
			      <p> 
			      	On Sunday the weather god had an insight and compensated the teams with best sailing weather and bright sunshine. 
			      	The overall victory was won by the crew of Airbus DS Airborne Solutions with skipper Steffen Bock. 
			      </p>
		      </div> 
      
	      </div>
	      
	    </div> 
	    	   
	</div>
    
</fuse-widget>
  
    