<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button >&#169; 2017 created by Airbus on behalf of EU funded DIGICOR Project</a>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button href="http://www.digicor-project.eu" target="_blank">DIGICOR Project</a>
            <span>&bull;</span>
            <a mat-button (click)="openDialog()">Impressum</a>
        </div>

    </div>

</mat-toolbar>
