<mat-list class="date" cdk-focus-region-start>

    <h3 matSubheader cdk-focus-init>
        <span>Today</span>
    </h3>

    <div class="secondary-text mat-display-1 mb-0 p-14">
        <div class="mb-12">
            {{date | date:'EEEE'}}
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <span> {{date | date:'d'}}</span>
            <span class="mat-subheading-1">th</span>
            <span> {{date | date:'MMMM'}}</span>
        </div>
    </div>
</mat-list>

<mat-divider cdk-focus-region-end></mat-divider>

<mat-list class="weather" cdk-focus-region-start>

    <h3 matSubheader cdk-focus-init>
        <span>Location</span>
    </h3>

</mat-list>

<mat-divider cdk-focus-region-end></mat-divider>


<mat-list>
    <h3 matSubheader>
        <span>Mails</span>
    </h3>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Scheduled Events</span>
    </h3>

    <mat-list-item>
        <h3 matLine></h3>
        <p matLine class="secondary-text"></p>
    </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>ToDo</span>
    </h3>

    <mat-list-item>
        <h3 matLine></h3>
        <p matLine class="secondary-text"></p>
    </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

