<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:770px;" _ngcontent-c49="">

    <div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 100%; min-width: 400px;" fusePerfectScrollbar>

      <h3 style="margin-bottom: 0px; font-size: 20px; font-weight: bold;">My Offers/Tenders</h3>

      <!-- Tender Search -->
      <div class="content p-14">

        <mat-form-field style="width: 80%">
          <input type="text" matInput placeholder="Type..." [(ngModel)]='searchText'>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <button style="padding-left: 10px;" mat-raised-button color="accent" class="search-button" aria-label="Search" autofocus (click)='updateFilter($event)'> SEARCH</button>

      </div>

      <!-- Tenders Table -->
      <div style="padding: 5px ;">

        <ngx-datatable class="material"
                       [rows]="tenders"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'standard'"
                       [headerHeight]="52"
                       [footerHeight]="48"
                       [rowHeight]="'auto'"
                       [scrollbarH]="'auto'"
                       [reorderable]="reorderable"
                       [limit]="4"
                       [selected]="selectedTender"
                       [selectionType]="'single'"
                       (activate)="onTendersActivate($event)"
                       (select)='onTendersSelect($event)'>

          <ngx-datatable-column name="ID" prop="id" [width]="100" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Title" prop="title" [width]="100" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="type" prop="type" [width]="150" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Due Date" prop="submissionDeadline" [width]="170" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Status" prop="status" [width]="170" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

        </ngx-datatable>

      </div>

    </div>

  </div>

</fuse-widget>

<!-- Tender Details -->
<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100" _ngcontent-c49="">
  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:600px;height:600px;" _ngcontent-c49="">

    <div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 100%; min-width: 400px;" fusePerfectScrollbar>

      <h3 style="margin-bottom: 0px; font-size: 20px; font-weight: bold;">Details</h3>

      <div class="content p-14" style="box-shadow: 5px 5px 10px grey; height:600px">
        <div style="display:flex;flex-direction: row;">
          <div style="display:flex;flex-direction: column; width: 80%;">
            <br /><br /><p style="margin: 0px;">
  <b> ID:</b> {{selectedTender[0].id}}
  <img _ngcontent-c51="" alt="selectedTender[0].status}}" style="height:20px; margin-left: 200px;" src="/assets/images/status/offer_not_applied.png"> Status: {{selectedTender[0].status}}<br /><br />
  <b>Owner:</b> {{selectedTender[0].owner}}<br /><br />
</p>
            <p style="margin: 0px;"> <b>Customer:</b> {{selectedTender[0].customer}} </p><br />
            <p style="margin: 0px;"> <b>Issue Date:</b> {{selectedTender[0].issueDate}} </p><br />
            <p style="margin: 0px;"> <b>Submission Deadline:</b> {{selectedTender[0].submissionDeadline}} </p><br />
            <p style="margin: 0px;"> <b>Description:</b> {{selectedTender[0].description}} </p><br />
          </div>
        </div>
      </div>

    </div>

  </div>
</fuse-widget>
