 <!-- Register Widget -->

<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column"
  fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:500px; left: 500px;" _ngcontent-c49="">
    
    <!-- Register erforderlich -->
    
    <div>
    
	    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;margin-bottom:0px;"
	      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">
	      <div _ngcontent-c49="">
	        <h2>Register To Digicor Portal</h2>
	      </div>
	    </div>

	    <div class="pt-8 pb-32" style="display: flex; max-height:100%; max-width: 100%; box-sizing: border-box; flex-direction: column; justify-content: center; align-items: center; align-content: center; padding: 20px;"
	      fxLayout="column" fxLayoutAlign="center center" _ngcontent-c49="">
	
	      <!--  Register Form -->
	
        <form name="registerForm" [formGroup]="registerForm">

          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]='firstName'>
            <mat-error *ngIf="registerFormErrors.firstName.required">
              firstName is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]='lastName'>
            <mat-error *ngIf="registerFormErrors.lastName.required">
              lastName is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Company" formControlName="company" [(ngModel)]='company'>
            <mat-error *ngIf="registerFormErrors.company.required">
              company is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="File Upload (optional)" >
              <input type="file" #fileInput placeholder="Upload file..." />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email" [(ngModel)]='email'>
            <mat-error *ngIf="registerFormErrors.email.required">
              email is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" [(ngModel)]='username'>
            <mat-error *ngIf="registerFormErrors.username.required">
              Username is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" [(ngModel)]='password'>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="registerFormErrors.password.required">
              Password is required
            </mat-error>
          </mat-form-field>

          <h4 *ngIf="registerResult===false" style="color:red;">Wrong Username and/or Passsword! <br>Please try again...</h4>

          <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
               fxLayoutAlign="space-between center">
          </div>
        </form>    
	               
	            <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" autofocus
	                    [disabled]="registerForm.invalid" (click)="onRegister(username,password, firstName, lastName, company, email)">
	                Register
	            </button>
	
	
	      <!-- End Register Form -->
	    
	    </div>

    <!-- End Register -->
   </div>

</div>

</fuse-widget>
