<div class="page-layout blank p-24" fusePerfectScrollbar>

    <mat-tab-group>
        <mat-tab label="Home">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
				<!-- dashboard -->
				<app-admin-dashboard></app-admin-dashboard> 
            </div>

        </mat-tab>

        <mat-tab label="Members">
            <div class="page-layout blank p-24" fusePerfectScrollbar>

            </div>

        </mat-tab>

        <mat-tab label="User">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
                <!--  UserList -->
                <app-admin-user></app-admin-user>
            </div>

        </mat-tab>

        <mat-tab label="Basic Data">
            <div class="page-layout blank p-24" fusePerfectScrollbar>

            </div>

        </mat-tab>

        <mat-tab label="Workflow Templates">
            <div class="page-layout blank p-24" fusePerfectScrollbar>

            </div>

        </mat-tab>

   </mat-tab-group>
   
   
</div>