<div class="page-layout blank p-24" fusePerfectScrollbar>

    <mat-tab-group>
        <mat-tab label="Home">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
                <!-- dashboard -->
                <app-prod-dashboard></app-prod-dashboard>
            </div>

        </mat-tab>

        <mat-tab label="Production Orders">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
				<!-- production orders -->
				<app-prod-orders></app-prod-orders>
            </div>

        </mat-tab>

        <mat-tab label="Manage Collaborations">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
                <!-- manage collaborations -->
                <app-prod-manage-collaborations></app-prod-manage-collaborations>
            </div>

        </mat-tab>

   </mat-tab-group>
</div>