<div class="page-layout blank p-24" fusePerfectScrollbar>

    <mat-tab-group>
        <mat-tab label="Home">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
               <!-- dashboard -->
               <app-develop-dashboard></app-develop-dashboard>
            </div>

        </mat-tab>

        <mat-tab label="Running Developments">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
               <!-- running projects -->
               <app-develop-running-projects></app-develop-running-projects>
            </div>

        </mat-tab>

   </mat-tab-group>
</div>