.page-header {
    margin: 0px !important;
    padding: 5px;
  }
  .h2 {
    font-family: Oswald;
    font-size: 40px;
    color: white;
  }
  .p2 {
    font-family: Oswald;
    font-size: 17px;
    color: white;
  }