<div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0" style="background-color:rgb(3, 155, 229);padding: 10px;">
  
              <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
                      <span class="h2">DIGICOR</span>

              </div>
  
              <div class="p2">
                  <p>Decentralised Agile Coordination Across Supply Chains</p>
              </div>
  
          </div>