.ngx-datatable.material {

  .datatable-header {

    .datatable-header-cell {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      vertical-align: bottom;
      border: 1px solid #ededed;
      border-bottom: 1px solid #d1d4d7;
      padding: 0.75rem;
      background: #808080;
      color: #ededed;
    }

    .datatable-header-cell-label {
      line-height: 24px;
    }
  }
  // header
  .datatable-body {

    .datatable-body-row {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #d1d4d7;
    }

    .datatable-body-row.active {
      background-color: #1483ff;
      color: #FFF;
    }

    .datatable-body-row {
      vertical-align: top;
      border-top: 1px solid #d1d4d7;
    }

    .datatable-body-cell {
      text-align: left;
      vertical-align: top;
    }

    .datatable-body-row.datatable-row-even {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
  // body
  .datatable-footer {
    background: #808080;
    color: #ededed;
    margin-top: -1px;
  }

  .page-count {
    line-height: 50px;
    height: 50px;
    padding: 0 1.2rem;
  }

  .datatable-pager {
    margin: 0 10px;
    vertical-align: top;
  }
}
