<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:770px;" _ngcontent-c49="">

    <div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 100%; min-width: 400px;" fusePerfectScrollbar>

      <h3 style="margin-bottom: 0px; font-size: 20px; font-weight: bold;">My Mail</h3>

      <!-- Mail Search -->
      <div class="content p-14">

        <mat-form-field style="width: 80%">
          <input type="text" matInput placeholder="Type..." [(ngModel)]='searchText'>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <button style="padding-left: 10px;" mat-raised-button color="accent" class="search-button" aria-label="Search" autofocus (click)='updateFilter($event)'> SEARCH</button>

      </div>

      <!-- Mails Table -->
      <div style="padding: 5px ;">

        <ngx-datatable class="material"
                       [rows]="mail"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'standard'"
                       [headerHeight]="52"
                       [footerHeight]="48"
                       [rowHeight]="'auto'"
                       [scrollbarH]="'auto'"
                       [reorderable]="reorderable"
                       [limit]="6"
                       [selected]="selectedMail"
                       [selectionType]="'single'"
                       (activate)="onMailActivate($event)"
                       (select)='onMailSelect($event)'>

          <ngx-datatable-column name="From" prop="from" [width]="250" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Subject" prop="subject" [width]="250" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Date" prop="sentDate" [width]="150" [canAutoResize]="true" [sortable]="true">
          </ngx-datatable-column>

        </ngx-datatable>

      </div>

    </div>

  </div>

</fuse-widget>

<!-- Mail Details -->
<fuse-widget style="flex:1 1 100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;" fxLayout="column" fxFlex="100" _ngcontent-c49="">
  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:600px;height:600px;" _ngcontent-c49="">

    <div class="content p-16" style="padding: 15px ; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px; width: 100%; min-width: 400px;" fusePerfectScrollbar>

      <h3 style="margin-bottom: 0px; font-size: 20px; font-weight: bold;">{{selectedMail[0].subject}}</h3>
      <button style="padding-left: 10px; background-color:darkred; left:75%; color:white; font-weight:200;" mat-raised-button aria-label="Delete" autofocus (click)='deleteEmail($event)'> Delete</button>

      <div class="content p-14" style="box-shadow: 5px 5px 10px grey; height:600px">
        <div style="display:flex;flex-direction: row;">
          <div style="display:flex;flex-direction: column; width: 80%;">
            <br /><br /><p style="margin: 0px;">
              <b> To:</b> {{selectedMail[0].recipients}}<br />
              <b> From:</b> {{selectedMail[0].from}}<br />
              <b>Date:</b> {{selectedMail[0].sentDate}}<br /><br />
              {{selectedMail[0].content}}
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</fuse-widget>
