.login-container {
    display: flex;
    flex-direction: column;
}

.login-container > * {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

.logout {
    height : 200px;
    width: 100%;
    display: flex; 
    max-height: 100%; 
    box-sizing: border-box; 
    flex-direction: column; 
    align-items: center; 
    align-content: center;
    margin-bottom:0px;
 }