<fuse-widget style="flex:1 1 100%; height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;"
  fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:600px;height:600px;min-height:400px;" _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

      <div class="page-layout blank p-24">
        <h2 style="margin-bottom: 0px;">Contacts</h2>
      </div>

    </div>

    <!--  Contact Form -->
    <div class="message-container" id="contact-form" class="pt-8">
      <div id="pcoord">
        <h3>Project Coordinator (Airbus)</h3>
        <p>
          <i class="material-icons down">info_outline</i> Arnd Schirmann</p>
        <p>
          <i class="material-icons down">email</i> arnd.schirmann@air...</p>
        <p>
          <i class="material-icons down">phone</i> +49 (0) 40 74...</p>
      </div>
      <div id="pcoord">
        <h3>HAW Cluster (Hanse Aerospace)</h3>
        <p>
          <i class="material-icons down">info_outline</i>Ingo Martens</p>
        <p>
          <i class="material-icons down">email</i>i.martens@hanse-aer...</p>
        <p>
          <i class="material-icons down">phone</i>+49 (0) 40...</p>
      </div>
      <div>

      </div>
      <div id="pcoord">
        <h3>How to find...</h3>
        <p style="margin-bottom: 10px;">Hamburg DIGICOR Office is located in the ZAL Tech Center at</p>
        <div style="display: flex; flex-direction: col;">
          <i class="material-icons down">location_on</i>
          <div>
            <p>Hein-Sass-Weg 22</p>
            <p>21219 Hamburg</p>
            <p>Germany</p>
          </div>
            <app-google-maps></app-google-maps>
       </div>
      </div>
    </div>
   </div> 
    <!-- End Contact Form -->



</fuse-widget>
<!-- ContactForm Widget -->
<fuse-widget style="flex:1 1 100%; height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;"
  fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:600px;height:600px;min-height:400px;"
    _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

      <div class="page-layout blank p-24" style="padding-bottom: 0px;">
        <h2>Send us a message...</h2>
      </div>

    </div>

    <!--  Contact Form -->
	<div class="message-container" class="pt-8">
      <form class="form" [formGroup]="contactForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]='name' formControlName="name">
           <mat-error *ngIf="contactFormErrors.name.required" >
             Name is required
           </mat-error>
          
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
       </form>
       
       <form class="form" [formGroup]="contactForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [(ngModel)]='email' formControlName="email">
            <mat-error *ngIf="contactFormErrors.email.required" >
              Email is required
            </mat-error>
            <mat-error *ngIf="contactFormErrors.email.email" >
              Valid email is required
            </mat-error>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
       </form>
       
       <form class="form" [formGroup]="contactForm">
        <mat-form-field class="full-width">
          <span matPrefix>+49 &nbsp;</span>
          <input type="tel" matInput placeholder="Phone" [(ngModel)]='phone' formControlName="phone">
            <mat-error *ngIf="contactFormErrors.phone.required" >
              Phone number is required
            </mat-error>
            <mat-error *ngIf="contactFormErrors.phone.pattern" >
              Only numbers allowed
            </mat-error>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Message" class="textarea"  [(ngModel)]='message' formControlName="message"></textarea>
        </mat-form-field>
           <mat-error *ngIf="contactFormErrors.message.required" >
              Message is required
            </mat-error>
        <button class="btn" mat-raised-button color="accent" [disabled]="contactForm.invalid" (click)="openSentDialog()">Send</button>
       </form>
      </div> 
   <!-- End Contact Form -->

  </div>

</fuse-widget>
