<div class="page-layout blank">

 <mat-tab-group class="mt-group">
    <mat-tab label="Welcome">
      <div class="page-layout blank p-24" fusePerfectScrollbar>

        <div style="display:flex; flex-flow:row;  margin: auto; align-items: flex-start">
          <!-- Welcome-text Component -->
          <app-welcome-text></app-welcome-text>

          <div style="display:flex; flex-flow:column wrap; width:100%;">

            <!-- login-form Component -->
            <app-login-form></app-login-form>

            <!-- register-form Component -->
            <app-register-form *ngIf="!getLoginStatus()"></app-register-form>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Membership">

      <div class="page-layout blank p-24" fusePerfectScrollbar>

          <div style="display:flex; flex-row wrap; width:100%;">

            <!-- Membership-Text Component -->
            <app-membership-text></app-membership-text>

            <!-- register-form Component -->
            <app-register-form *ngIf="!getLoginStatus()"></app-register-form>
            
          </div>

        </div>

    </mat-tab>
    <mat-tab label="Contact">

      <div class="page-layout blank p-24" fusePerfectScrollbar>

        <div style="display:flex; flex-flow:column wrap; width:100%; margin: auto;">

          <!-- Contact Message Component -->
          <app-contact-form></app-contact-form>
          
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
