  <fuse-widget style="flex:1 1 100%; height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;"
  fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:400px;width:500px;height:300px;min-height:200px;" _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

      <div class="page-layout blank p-24">
        <h2 style="margin-bottom: 0px;">Platform-News</h2>
      </div>

    </div>

       <!-- News List -->
	    <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px;" fusePerfectScrollbar>
	     
	        <div *ngFor="let newsline of news">
	       
		       <div style="display: flex; flex-direction: row;">
			       <img class="news-logo" src="{{newsline.logo}}" alt="logo"/>
        	          <div style="display: flex; flex-direction: column;">			       
					       <p class="news-headline"> {{newsline.headline}}</p> 
					       <p>{{newsline.newsbody}}</p>
		   		      </div> 
		       </div>
		       
	       </div>
	      
	    </div> 
	   
	</div>
    
</fuse-widget>
  
    