:host {

    .content{
        max-width: 1100px;
    }

}

.news-logo{
	max-height: 75px;
	max-width:75px;
	padding:4px;
	}
	
.news-headline{
    color: black;
    font-size:14px;
    font-weight: bold;
    margin-bottom: 0px;
}
	
.news-body{
   font-size:12px;
   font-weight: normal;
   margin-top: 0px;
   margin-bottom: 0px;
}