  <fuse-widget style="flex:1 1 100%; height:100%; display: flex; max-width: 100%; box-sizing: border-box; flex-direction: column;"
  fxLayout="column" fxFlex="100" _ngcontent-c49="">

  <div class="fuse-widget-front mat-white-bg mat-elevation-z2" style="min-width:500px;width:700px;height:625px;min-height:400px;" _ngcontent-c49="">

    <div class="pl-16 pr-8 py-16 h-52" style="display: flex; max-height: 100%; box-sizing: border-box; flex-direction: row; justify-content: space-between; align-items: center; align-content: center;"
      fxLayout="row" fxLayoutAlign="space-between center" _ngcontent-c49="">

      <div class="page-layout blank p-24">
        <h2 style="margin-bottom: 0px; font-size: 24px; font-widht: bold;">Welcome to the DIGICOR platform...</h2>
      </div>

    </div>

       <!-- Platform Daten -->
       
	    <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:2px 10px 10px 5px;" fusePerfectScrollbar>
	      
	      <p> 
	      
	   		DIGICOR collaboration platform provides vital communication and decision support services to companies, particularly SMEs, 
	   		allowing them to plan and control collaborative production and supply networks.<br><br>
	   		
	   		DIGICOR marketplace provides match making functionalities, allowing SMEs to find and interact with suitable partners. <br><br>

			DIGICOR governance framework and procedures sets out the terms of collaboration and rules of doing business on the DIGICOR platform. 
			The framework allows SMEs to collaborate and exchange information in a trustworthy environment.   
				      	      
	      </p>
	      
	    </div> 
	   
	    <div style="display: flex; flex-direction: row; flex-wrap: wrap; flex-grow: initial;">
			     <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:auto; height:auto; width: 200px;" >
			     
	                 <h3 style="margin-bottom: 5px; margin-top: 1px; font-weigth:bold;">Platform <br> members</h3>
	
					 <p class="kpi" style="color:darkblue;">Companies:  243</p>
					 <p class="kpi" style="color:darkgreen;">Users:      898</p>
				
			      
			    </div>
		
			     <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:auto; height:auto; width: 200px;" >
			      
				     <h3 style="margin-bottom: 5px; margin-top: 1px; font-weigth:bold;">Running collaborations</h3>
	
				     <p class="kpi" style="color:darkred;">Starting:   12</p>
					 <p class="kpi" style="color:darkblue;">Running:  109</p>
					 <p class="kpi" style="color:black;">Overall:  753</p>
			    </div>

			     <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:auto; height:auto; width: 200px;" >
			      
				     <h3 style="margin-bottom: 5px; margin-top: 1px; font-weigth:bold;">Offers / Open Tenders</h3>
			      
					 <p class="kpi" style="color:darkblue;">Permanent:      204</p>
					 <p class="kpi" style="color:orange;">Callf.Tenders:  35</p>

			    </div>
			    
			    <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:auto; height:auto; width: 200px;" >
			     
				     <h3 style="margin-bottom: 5px; margin-top: 1px; font-weigth:bold;">Tools &amp; Services</h3>
	
					 <p class="kpi" style="color:azimut;">Tools/Apps: 23</p>
					 <p class="kpi" style="color:darkgreen;">Services:  12</p>
			      
			    </div>
		
			     <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:auto; height:auto; width: 200px;" >
			      
			     <h3 style="margin-bottom: 5px; margin-top: 1px; font-weigth:bold;">...</h3>
			      
			    </div>

			     <div class="content p-24" style="padding: 5px 5px 5px; box-shadow: 5px 5px 10px grey; margin:auto; height:auto; width: 200px;" >
			      
			     <h3 style="margin-bottom: 5px; margin-top: 1px; font-weigth:bold;">...</h3>
			      
			    </div>
			    
	   </div>
	   
	</div>
    
</fuse-widget>
  
    