<div class="page-layout blank p-24" fusePerfectScrollbar>

    <mat-tab-group>
        <mat-tab label="Home">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
                
                <!-- Mitch Home -->
                <table style="width:100%">
                <tr>
                <td>
                <app-mitch-home></app-mitch-home>
                </td>
                <td>
                <app-mitch-table></app-mitch-table>
                </td>
                </tr>
                </table>

            </div>
        </mat-tab>

	<mat-tab label="Login">
            <div class="page-layout blank p-24" fusePerfectScrollbar>
				        <!-- Mitch Login -->
                <app-mitch-login></app-mitch-login>
            </div>

  </mat-tab>
 </mat-tab-group>


</div>
